################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MarkDom
/MarkDom/bin
/MarkDom/obj
/packages
/MarkDom.Tests/bin
/MarkDom.Tests/obj
